<template name="createLobby">
  <body>
    <section class="text-header">
			<div class="row">
				<div class="col-lg-6">
		        <a href="#search"><i class="hovicon effect-3 sub-b"><i class="fa fa-search"></i> Search Games</i></a>
				</div>
				<div class="col-lg-6">
		        <i class="hovicon effect-3 sub-b"><i class="fa fa-arrow-down"></i> Popular Games</i>
				</div>
			</div>
		</section>

    <section>
  		<div id="search">
  		    <button type="button" class="close">×</button>
  		    <form>
              {{> leaderboard}}
  		    </form>
  		</div>
  	</section>

    <h1>Create Lobby</h1>

    {{#autoForm collection="CreateLobby" id="insertLobbyForm" type="insert"}}
      <fieldset>
        {{> afQuickField name='game'}}
        {{> afQuickField name='console'}}
        {{> afQuickField name='players'}}
        {{> afQuickField name='mic'}}
        {{> afQuickField name='note' rows=2}}
        {{> afQuickField name='profile'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}

    <script>
      $(function () {
          $('a[href="#search"]').on('click', function(event) {
              event.preventDefault();
              $('#search').addClass('open');
              $('#search > form > input[type="search"]').focus();
          });

          $('#search, #search button.close').on('click keyup', function(event) {
              if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                  $(this).removeClass('open');
              }
          });
      });
    </script>
  </body>

</template>
